.container {
    max-width: 25rem;
    margin: 0 auto;
    padding: 0 $s-size;
    text-align: center;
    position:relative;
   
}

.container__list {
    text-align: left;
    position:absolute;
    top:7em;
    left:0;
}

.container__box {	
    text-align: left;
    position:absolute;
    top:7em;
    display:inline-block;
     
}