.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.body .header {
  display: flex;
  background: #1e1e1e;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-family: Helvetica, Arial;
  padding: 10px;
}
.body .header > * {
  align-self: center;
}
.body .content {
  display: flex;
  flex-grow: 1;
}
.body .content .diagram-layer {
  position: relative;
  flex-grow: 1;
  display: flex;
  cursor: move;
  overflow: hidden;
  height: 100vh ;
  background-color: #3c3c3c;
}

.body .content .tray-wrapper {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  top: 65px;
  z-index: 100;
  left: 45px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0 0 28px rgba(0,0,0,0.05);
  background-color: #ffffff;
  padding: 8px
}

.body .content .tray {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 337px;
  /* position: absolute; */
  /* top: 65px; */
  z-index: 100;
  /* left: 45px; */
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  border-radius: 4px;
  background-color: #ffffff;
  border-top: 1px solid #dce5ec;
}

.body .content .tray .tray-item-body {
  color: #848f99;
  text-align: center;
  font-size: 10px;
}

.body .content .tray .tray-item-wrapper {
  color: white;
  font-family: Helvetica, Arial;
  margin: 10px;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dce5ec;
}


.body .content .tray .tray-item {
  color: white;
  font-family: Helvetica, Arial;
  margin: 10px;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: grey;
}

.srd-port{
  border-radius: 50% !important;
}