.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.body .header {
  display: flex;
  background: #1e1e1e;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-family: Helvetica, Arial;
  padding: 8px;
  justify-content: flex-end;
}
.body .header > * {
  align-self: center;
}
.body .content {
  display: flex;
  flex-grow: 1;
  padding: 0px !important;
}

#diagram-layer {
  position: relative;
  flex-grow: 1;
  display: flex;
  cursor: move;
  overflow: hidden;
  height: 100vh ;
  background-color: #3c3c3c;
}

.tray-wrapper {
  width: 270px;
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  top: 70px;
  z-index: 100;
  left: 75px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0 0 28px rgba(0,0,0,0.05);
  background-color: #ffffff;
  padding: 8px;
}

.body .content .tray {
  width: 270px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 337px;
  /* position: absolute; */
  /* top: 65px; */
  z-index: 100;
  /* left: 45px; */
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  border-radius: 4px;
  background-color: #ffffff;
  border-top: 1px solid #dce5ec;
  padding-top: 10px;
}

.body .content .tray .tray-item-body {
  color: #848f99;
  text-align: center;
  font-size: 10px;
}

.body .content .tray .tray-item-wrapper {
  color: white;
  font-family: Helvetica, Arial;
  margin: 5px;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dce5ec;
  padding: 5px 10px 5px 10px;
}


.body .content .tray .tray-item {
  color: white;
  font-family: Helvetica, Arial;
  margin: 10px;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: grey;
  overflow: visible;
}

.srd-port{
  border-radius: 50% !important;
}

.panel-buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 70px;
  left: 15px;
}

.panel-button{
  background-color: #212939;
  width: 100%;
  height: 50px;
  color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}


.panel-button-first{
  border-radius: 5px 5px 0px 0px;
}

.panel-button-last{
  border-radius: 0px 0px 5px 5px;
}

.diagram-header-buttons-wrapper{
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  height: 40px;
  border-radius: 4px;
}

.message-diagram{
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  margin-left: 200px;
}

.select-main-body-widget{
  top: 56px;
  right: 2px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  z-index: 1;
  width: 157px;
  box-shadow: 0 0 28px rgba(0,0,0,0.1);
}

.button-select-body-widget{
  background: #212939; 
  border-radius: 0;
}

.button-select-body-widget:hover{
  background: #3b4049; 
}

.arrow-for-select{
  padding-right: 5px;
  font-size: 11px;
}

.up-arrow-body-widget {
    /* display: inline-block;
    position: relative;
    border: 1px solid #777777;
    text-decoration: none;
    border-radius: 4px; */
}

.up-arrow-body-widget:after {
  content: '';
  display: block;
  position: absolute;
  left: 49%;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #212939;
}

.logo-widget{
  position: absolute;
  left: 0;
}