.projects-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-wrapper{
  position: relative;
  height: 200px;
  width: 220px;
  background: #fff;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid #BFCFE9;
}

.options-project{
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  border-radius: 6px;
  background-color: #121824;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  padding: 5px;
  color: #848f99;
}

.options-project:hover{
  background-color: #dce5ec;
  color: #212939;
}

.project-image{
  height: 130px;
  background: #212939;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.view-funnels{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  white-space: pre;
  border: 1px solid;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  font-size: 14px;
}

.view-funnels:hover{
  background-image: linear-gradient(90deg, #f15c22 0%, #fd8f21 100%);
}

.project{
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid;
  font-size: 14px;
}
