
.select {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width:100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.4); */
  
}

.select-main {
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: -100px;
  width: 150px;
  z-index: 1;
  width: 157px;
  /* height: 82px; */
  border-radius: 5px;
  box-shadow: 0 0 28px rgba(0,0,0,0.1);
  background-color: #ffffff;
  border: 1px solid #dce5ec;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.btn-select{
  border: none;
  font: inherit;
  color: #848f99;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
  text-align: left;
  padding: 5px 15px 5px 15px;
}

.btn-select:hover{
  color: #fd8f21;
}

.btn-select-copy{
  padding: 15px 0px 5px 15px;
}

.btn-select-delete{
  border-top: 1px solid #dce5ec;
  padding: 15px;
}

.btn-select-share{
  padding: 5px 0px 15px 15px;
}

.delete-modal-btn-wrapper{
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}

.btn-delete-modal {
  width: 90px !important;
  height: 40px !important;
  /* background: -webkit-linear-gradient(6deg, #e62d24 0%, #fd8f21 100%); */
  /* background: linear-gradient(84deg, #e62d24 0%, #fd8f21 100%); */
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-delete-modal:hover {
  /* background: linear-gradient(263deg, #e62d24 0%, #fd8f21 100%); */
}

.btn-delete-modal:active {
  /* background: linear-gradient(263deg, #d6180f 0%, #ef7800 100%); */
}

.label-choose-permission{
  font-size: 12px;
  margin: 0px 0px 7px 15px;
  color: #848F99;
  font-weight: normal;
}

.custom-select-wrapper{
  margin-left: 15px;
  margin-right: 15px;
  color: #848F99;
  font-size: 12px;
}

.funnels-checkbox{
  max-height: 128px;
  overflow: auto;
  margin: 5px 15px 15px 15px;
}

.funnels-collaborators{
  max-height: 110px;
  overflow: auto;
  margin: 5px 15px 15px 15px;
}

.button-change-permission{
  /* padding: 0; */
  border: none;
  color: orange;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

.button-remove-collaborator{
  /* padding: 0; */
  border: none;
  color: red;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

.custom-select{
  font-size: 14px;
  color: #444;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 5px;
  background-color: #fff;
  color: #848F99;
  border: 1px solid #BFCFE9;
}

.custom-select:focus {
  border: 1px solid #F15C22;
}

/* Set options to normal weight */
.custom-select option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .custom-select, :root:lang(ar) .custom-select, :root:lang(iw) .custom-select {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.custom-select:disabled, .custom-select[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.custom-select:disabled:hover, .custom-select[aria-disabled=true] {
	border-color: #aaa;
}

.created-link-wrapper{
  white-space: pre;
  margin: 15px;
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #BFCFE9;
  color: #848F99;
  font-size: 14px;
}

.created-link{
  overflow: auto;
}

.collaborators-in-modal{
  font-size: 12px;
  width: 41px;
  align-self: center;
  /* padding: 5px; */
  /* white-space: pre; */
  overflow: auto;
  margin: 0px 4px 0px 4px;
}

.empty-collaborator-photo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  background-color: #c1c7cc;
  display: flex;
  align-items: center;
}

.collaborator-photo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  background-color: #c1c7cc;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.funnels-collaborators-item{
  display: flex;
  width: max-content;
  margin-bottom: 10px;
}
