.small-node-title{
  z-index: 15;
  font-size: 13px;
  color: rgb(33, 41, 57);
  font-weight: 500;
  width: 190px;
  margin-left: -13px;
  margin-bottom: 20px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}