.projects-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}

.project-wrapper{
  position: relative;
  height: 200px;
  width: 220px;
  background: #fff;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid #BFCFE9;
}

.options-project{
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  border-radius: 6px;
  background-color: #121824;
  cursor: pointer;
  /* transform: scale(1.4,1); */
  font-weight: 300;
  font-size: 12px;
  padding: 5px;
  color: #848f99;
}

.options-project:hover{
  background-color: #dce5ec;
  color: #212939;
}

.project-image{
  height: 130px;
  background: #212939;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.create-funnels{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: left;
}

.project{
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid;
  font-size: 14px;
}
