.add-to-cart-model-wrapper{
  display: flex;
  background: #fff;
  border-radius: 5px;
}

.add-to-cart-model-text-wrapper{
  background: #636e84;
  display: flex;
  border-radius: 0px 5px 5px 0px;
}

.add-to-cart-model-text{
  align-self: center;
  margin: 0 20px;
}