header {
  height: 70px;
  line-height: 70px;
  background-color: white;
  border-bottom: 1px solid #DCE5EC;
}
header .logo {
  margin-left: 20px;
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
header nav ul li a {
  color: black;
}
/* header nav ul li a:hover {
  color: blue;
} */




.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-main {
  position: fixed;
  background: white;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-modal{
  float: right;
  width: max-content;
}


.create-project-input{
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}

.create-project-button-in-modal{
  width: 130px;
  margin: auto;
}

.label{
  color: #848F99;
  font-size: 12px;
  font-weight: 600;
  height: 50px;
}